<%- include('layout') %>
<h2>Profile</h2>
<ul>
  <li>Name: <%= me.name %></li>
  <li>Member Code: <%= me.member_code %></li>
  <li>Email: <%= me.email %></li>
  <li>Mobile: <%= me.mobile %></li>
  <li>Sponsor Code: <%= me.sponsor_code %></li>
  <li>Position at Sponsor: <%= me.position_at_sponsor %></li>
  <li>Left Count: <%= me.left_count %></li>
  <li>Right Count: <%= me.right_count %></li>
</ul>
